{% extends 'qenat/base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мхце Ренат | Ошибка</title>
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link rel="stylesheet" href="{% static 'css/adaptive.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
<div class="content">
    <div class="main-container">
        <div class="text-icon">
            <h1 class="text">Ошибка</h1>
            <img src=".{% static 'qenat/error-icon.svg' %}" alt="" class="icon">
        </div>
        <div class="btn-frame">
            <a href="{% url 'home' %}" class="button">На главную</a>
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}