* {
    margin: 0;
    padding: 0;

    background-color: #FFFCF7;
    color: #1C0F13;
}
html {
    font-family: "Commissioner", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.nav-bar {

    text-align: center;

    background-color: #2B625E;
}
.nav-container {
    display: flex;
    justify-content: space-between;

    margin-left: 22%;
    margin-right: 22%;

    text-align: center;

    background-color: #2B625E;

}
.drop {
    display: flex;
    justify-content: space-between;

    background-color: #2B625E;
}
.nav-logo {
    display: flex;
    justify-content: left;
    align-items: center;

    margin-bottom: 20px;
    margin-top: 20px;

    background-color: #2B625E;
}
.nav-logo-link {
    text-decoration: none;

    background-color: #2B625E;
}
.logo {
    display: inline-block;

    width: 4.15rem;
    height: 4.15rem;

    background-color: #2B625E;
}
.name {
    display: inline-block;

    margin-left: 10px;

    font-size: 1.25rem;

    background-color: #2B625E;
    color: #FFFCF7;

    background-image: linear-gradient(90deg,rgba(255, 252, 247, 1) 0%, rgba(161, 181, 216, 1) 50%, rgba(255, 252, 247, 1) 100%);

    -webkit-background-clip: text;
    background-clip: text;

    transition: all 0.5s ease;

    font-weight: 350;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: end;

    padding-bottom: 18px;

    list-style-type: none;

    background-color: #2B625E;
}
.burger-btn {
    display: none;

    width: 3rem;
    height: 3rem;

    border: none ;
    border-radius: 20px;

    background-color: #2B625E;

    cursor: pointer;
}

.burger-icon {
    background-color: #2B625E;


    stroke: #FFFCF7;


    background-image: linear-gradient(90deg,rgba(255, 252, 247, 1) 0%, rgba(161, 181, 216, 1) 50%, rgba(255, 252, 247, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;

    transition: all 0.5s ease;


    width: 100%;
    height: 100%;
}
.menu-item {
    display: inline-block;

    background-color: #2B625E;
    color: #FFFCF7;


    background-image: linear-gradient(90deg,rgba(255, 252, 247, 1) 0%, rgba(161, 181, 216, 1) 50%, rgba(255, 252, 247, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;

    transition: all 0.5s ease;

    font-weight: 350;
}
.item-link {
    padding: 15px;

    text-decoration: none;
    background-color: #2B625E;
}
.menu-item:hover{
    background-image: linear-gradient(90deg,rgba(255, 252, 247, 1) 0%, rgba(161, 181, 216, 1) 50%, rgba(255, 252, 247, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    transition-property: color;
    transition-duration: 0.1s;
}
.menu-item:active{
    background-image: linear-gradient(90deg,rgba(255, 252, 247, 1) 0%, rgba(94, 127, 187, 1) 50%, rgba(255, 252, 247, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    transition-property: all;
    transition-duration: 0.1s;
}

.nav-logo:hover .name{
    background-image: linear-gradient(90deg,rgba(255, 252, 247, 1) 0%, rgba(161, 181, 216, 1) 50%, rgba(255, 252, 247, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    transition-property: all;
    transition-duration: 0.1s;
}
.nav-logo:active .name{
    background-image: linear-gradient(90deg,rgba(255, 252, 247, 1) 0%, rgba(94, 127, 187, 1) 50%, rgba(255, 252, 247, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    transition-property: all;
    transition-duration: 0.1s;
}

.foot-menu-item:hover {
    background-image: linear-gradient(90deg,rgba(255, 252, 247, 1) 0%, rgba(161, 181, 216, 1) 50%, rgba(255, 252, 247, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    transition-property: color;
    transition-duration: 0.1s;
}
.foot-menu-item:active {
    background-image: linear-gradient(90deg,rgba(255, 252, 247, 1) 0%, rgba(94, 127, 187, 1) 50%, rgba(255, 252, 247, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    transition-property: all;
    transition-duration: 0.1s;
}
.main-container {
}
.footer {
    margin-top: 20px;

    background-color: #2B625E;
}
.nav-footer {
    display: flex;
    justify-content: space-between;
    margin-left: 28%;
    margin-right: 28%;

    background-color: #2B625E;
}

.logo-mail {
    background-color: #2B625E;
}
#foot-logo {
    margin-bottom: 5px;
}
.foot-mail {
    display: flex;
    justify-content: center;

    background-color: #2B625E;
}
.mail-icon {
    background-color: #2B625E;
}
.mail-text {
    margin-left: 7px;
    padding-bottom: 7px;

    background-color: #2B625E;
    color: #FFFCF7;

    font-weight: 300;
}
.foot-menus {
    display: flex;
    align-items: center;

    padding-top: 20px;
    margin-bottom: 20px;

    background-color: #2B625E;
}
.foot-menu {
    list-style-type: none;
    margin-left: 117px;

    background-color: #2B625E;
}
.foot-menu-item {
    padding: 9px;

    font-weight: 300;

    background-color: #2B625E;
    color: #FFFCF7;

    background-image: linear-gradient(90deg,rgba(255, 252, 247, 1) 0%, rgba(161, 181, 216, 1) 50%, rgba(255, 252, 247, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;

    transition: all 0.5s ease;
}
.foot-menu-link {
    text-decoration: none;

    color: #FFFCF7;
}
.line {
    display: inline-block;
    width: 3rem;
    height: 0.3rem;

    border-radius: 20px;

    background-color: #FFFCF7;
}

.line {
    position: relative;
    background: #fffcf7; /* Исходный цвет фона (должен совпадать с крайними цветами градиента) */
    z-index: 1;
    border-radius: 20px;

    transition: background-color 0.5s ease;
}
.line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            90deg,
            rgba(255, 252, 247, 1) 0%,
            rgba(161, 181, 216, 1) 50%,
            rgba(255, 252, 247, 1) 100%
    );
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.5s ease;
    z-index: -1;
    border-radius: inherit; /* Для сохранения скруглений */
}

.burger-btn:hover .line::before {
    opacity: 1;
    transition-duration: 0.1s;
}

@media(max-width: 1000px) {
    html {
        font-size: 40px
    }
    .nav-container {
        margin-left: 6%;
        margin-right: 6%;
    }
    .burger-btn {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        align-items: center;

        margin-top: auto;
        margin-bottom: auto;
    }
    .menu{
        display: none;
    }
    .menu-item {
        font-size: 1rem;

    }
    .burger-btn:hover .burger-icon {

    }
    .burger-btn:hover .line::before {
        opacity: 1;
        transition-duration: 0.1s;
    }
    .drop:hover .menu {
        display: block;
        z-index: 3;

        position: absolute;

        right: 0;
        top: 5rem;
        border-radius: 20px;



        background-color: #2B625E;
    }
    .drop:hover .item-link {
        display: block;

        background-color: #2B625E;
        padding: 1.3rem;
    }
    .nav-footer {
        margin-left: 6%;
        margin-right: 6%;

        flex-direction: column;
    }
    .logo-mail {
        display: flex;
        justify-content: space-between;

    }
    .foot-mail {
        display: flex;
        align-items: center;

        padding-top: 20px;
    }
    .mail-icon {
        width: 18px;
    }
    .mail-text {
        display: flex;
    }
    .foot-menus {
        display: block;

        padding: 0;
    }
    .foot-menu {
        margin: 0;
    }
    .foot-menu-item {
        display: flex;
        justify-content: center;

        padding: 1.5rem;

        font-size: 1.25rem;
    }
    .name {
        margin-left: 20px;
    }
    .icon {
        margin-left: 10px;
        width: 1rem;
        margin-top: 8px;
    }
    .mail-text {
        font-size: 1rem;
    }
     .mail-icon {
        width: 1rem;
        margin-top: 4px;
    }
     .burger-btn {
         height: 2.5rem;
         width: 2rem;
     }

}