* {
    margin: 0;
    padding: 0;

    background-color: #FFFCF7;
    color: #1C0F13;

    font-family: "Commissioner", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.main-container {
    margin-left: 22%;
    margin-right: 22%;

    padding-top: 23px;
}
.content {
    min-height: 100vh;
}
.about {
    display: flex;
    justify-content: space-between;
}
.title-icon {
    display: flex;
}
.icon {
    margin-left: 7px;

    padding-top: 5px;
}
.about-img {
    width: 400px;
    height: 100%;
    object-fit: cover;

    border-radius: 20px;

    margin-top: 80px;
    margin-left: 5%;
}
.title {
    font-size: 1.25rem;
}
.about-text {
    margin-top: 46px;

    text-align: justify;
}
.news {
    margin-top: 19px;
}
.big-container {
    margin-left: calc(22% - 15px);
    margin-right: calc(22% - 15px);
}
.news-cards {
    margin-top: 29px;

    list-style-type: none;
}
.new-card {

    position: relative;
    background: #fffcf7; /* Исходный цвет фона (должен совпадать с крайними цветами градиента) */
    z-index: 1;
    border-radius: 20px;

    transition: background-color 0.5s ease;
}
.new-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            90deg,
            rgba(255, 252, 247, 1) 0%,
            rgba(161, 181, 216, 1) 50%,
            rgba(255, 252, 247, 1) 100%
    );
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.5s ease;
    z-index: -1;
    border-radius: inherit; /* Для сохранения скруглений */
}
.new-card:hover::before {
    opacity: 1;
    transition-duration: 0.1s;/* Плавное появление градиента */
}
.new-card:active::before {
    background-image: linear-gradient(
            90deg,
            rgba(255, 252, 247, 1) 0%,
            rgba(94, 127, 187, 1) 50%,
            rgba(255, 252, 247, 1) 100%
    ) !important;
    opacity: 1 !important;
    transition-duration: 0.1s;
}
.new-card:not(:first-child) {
    margin-top: 10px;
}
.card-info {
    display: flex;
    justify-content: space-between;

    padding: 15px;

    background-color: rgba(255, 252, 247, 0);
}
.photo-text {
    display: flex;
    justify-content: flex-start;

    background-color: rgba(255, 252, 247, 0);
}
.card-img {
    height: 86px;
    width: 86px;

    object-fit: cover;

    border-radius: 20px;

    background-color: rgba(255, 252, 247, 0);
}
.foto-frame {
    height: 86px;
    width: 86px;
    background-color: rgba(255, 252, 247, 0);
}
.card-text {
    background-color: rgba(255, 252, 247, 0);

    margin-left: 15px;
}
.card-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    background-color: rgba(255, 252, 247, 0);
}
.meta-date {
    background-color: rgba(255, 252, 247, 0);

    font-size: 0.9rem;
}
.meta-publication {
    background-color: rgba(255, 252, 247, 0);

    font-size: 0.9rem;

    color: #2B625E
}
.card-link {
    text-decoration: none;
}
@media(max-width: 1000px) {
    html {
        font-size: 40px
    }
    .main-container {
        margin-left: 6%;
        margin-right: 6%;
    }
    .big-container {
        margin-left: calc(6% - 15px);
        margin-right: calc(6% - 15px);
    }
    .about {
        display: block;
    }
    .about-img {
        width: 100%;

        margin: 0;
        margin-top: 30px;
    }
}
